/* Webfont: Lato-Black */
@font-face {
  font-family: 'SVG-SANS';
  src: url('fonts/FreeSerifBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-user-select: none;
  user-select: none;
}
#progress-message {
  overflow: hidden;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: 'LatoWeb';
}

.hidden {
  display: none;
}

.waiting * {
  cursor: wait !important;
}

.alertify-notifier {
  right: 0 !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 50px;
}

.alertify-notifier .ajs-message {
  cursor: pointer;
}

.alertify-notifier .ajs-message.ajs-success,
.alertify-notifier .ajs-message.ajs-error,
.alertify-notifier .ajs-message.ajs-warning {
  color: #111;
  text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-success {
  background: #d4ffad;
  border-color: #a9cc8a;
}

.alertify-notifier .ajs-message.ajs-error {
  background: #ffb3b6;
  border-color: #ff8084;
}

.alertify-notifier .ajs-message.ajs-warning {
  background: #fbf7d0;
  border-color: #f5ea8a;
}

.alertify.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
}

.alertify .ajs-body .ajs-content p {
  margin-top: 7px;
}

.alertify .ajs-body .ajs-content .ajs-input {
  border-radius: 4px;
}
.alertify .ajs-body .ajs-content .ajs-input {
  width: 100%;
}

#preview-svg.ajs-input {
  width: auto;
  max-width: 100%;
}

.ajs-footer {
  padding: 8px !important;
  background: white !important;
  border-top: none !important;
}

.checkbox {
  margin-top: 14px;
}

.checkbox + .checkbox {
  margin-top: 0px;
}

.form-group {
  margin: 12px 0 15px;
}

.form-group label {
  margin-bottom: 0px;
}

.form-group select {
  height: 38px;
  margin: 4px;
  border-radius: 4px;
  color: inherit;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-group select:focus {
  outline: #ccc solid 1px !important;
}

input:focus {
  outline: #ccc solid 1px;
}

button:focus {
  outline: #ccc solid 2px;
}

::selection {
  color: #fff;
  background: #3593d2;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.spinner-wrapper {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  display: none;
}

body.waiting #mainpaper {
  z-index: -1;
}

body.waiting .spinner-wrapper {
  display: block;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-responsive {
  width: 100%;
}

#about > .row > div > p > a {
  color: #31b0d5;
  text-decoration: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

#heart {
  color: red;
  animation: heartbeat 1s infinite;
}
