.is-disabled {
  pointer-events: none;
  opacity: 0.8;
}

.looks-disabled {
  opacity: 0.8;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  min-height: unset;
  background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}

.navbar-fixed-top .navbar-left,
.navbar-fixed-top .navbar-right {
  border: 1px solid #d5dadd;
  background: #f8f8f8;
}

.navbar-right {
  margin-right: 0;
}

.nav > li > a {
  padding: 5px 10px;
}

.navbar-fixed-bottom .navbar-nav {
  padding: 5px;
}

.navbar-fixed-bottom .navbar-right {
  padding-right: 0;
}

.navbar-fixed-bottom .navbar-right > li {
  padding-right: 5px;
}

.dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.dropdown-menu .divider {
  margin: 2px 0;
}

.dropdown-menu > li > a {
  padding: 3px 10px;
}

.shortcut {
  display: inline;
  float: right;
  color: #999;
}

.dropdown-submenu,
.dropdown-submenu-right {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  display: block;
  top: 0;
  left: 100%;
  padding: 0;
  margin-top: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  visibility: hidden;
  transition-delay: 0.3s;
}

.dropdown-submenu-right > .dropdown-menu {
  display: block;
  top: 0;
  right: 100%;
  padding: 0;
  margin-top: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  visibility: hidden;
  transition-delay: 0.3s;
}

.dropdown-submenu:hover > .dropdown-menu {
  visibility: visible;
  transition-delay: 0.3s;
}

.dropdown-submenu-right:hover > .dropdown-menu {
  visibility: visible;
  transition-delay: 0.3s;
}

.dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
}

.dropdown-submenu-right > a:after {
  display: block;
  content: ' ';
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #ccc;
  margin-top: 5px;
  margin-right: 8px;
}

.marker {
  float: left;
  width: 8px;
  height: 8px;
  margin-top: 6px;
  margin-left: -2px;
  margin-right: 7px;
  border-radius: 1px;
}
.marker-yellow {
  background-color: #f6f688;
}
.marker-orange {
  background-color: #f8e5a0;
}
.marker-blue {
  background-color: #c0dfeb;
}
.marker-gray {
  background-color: #ddd;
}

.disabled > a {
  cursor: default !important;
}
.credits-rss-icon {
  width: 24px;
  height: 24px;
}
.alertify .ajs-dialog {
  max-width: 500px;
}

.ajs-dimmer {
  opacity: 0.75 !important;
}

.alertify .ajs-dialog,
.alertify .ajs-header {
  border-radius: 0;
}

.alertify .ajs-dialog {
  min-width: 350px !important;
}

.ajs-header {
  padding: 7px 14px !important;
  opacity: 1 !important;
  min-height: unset !important;
}

.ajs-commands {
  margin: -20px 8px 0 0 !important;
}

.ajs-body {
  min-height: 28px !important;
}

.ajs-body .ajs-content {
  padding: 8px 16px !important;
  padding-bottom: 0 !important;
}

.ajs-input {
  margin: 0 !important;
}

.ajs-button {
  font-size: 12px !important;
  text-transform: none !important;
  min-height: 26px !important;
  min-width: 75px !important;
  border-radius: 0;
}

.alertify.ajs-maximized .ajs-commands,
.alertify.ajs-frameless .ajs-commands {
  margin: 4px 6px 0 0 !important;
}

.alertify.ajs-frameless .ajs-body .ajs-content {
  padding: 0 !important;
  padding-top: 8px !important;
}

.alertify.ajs-frameless .ajs-dialog.board-window {
  width: 450px !important;
  min-height: 112px !important;
}

.alertify.ajs-frameless:not(.ajs-resizable) .ajs-dialog.board-window {
  min-height: 85px !important;
}

.alertify.ajs-frameless:not(.ajs-resizable)
  .ajs-dialog.board-window.is-dropdown-open {
  min-height: 285px !important;
}

.alertify.ajs-maximized .ajs-dialog.board-window {
  width: unset !important;
}

.btn {
  border-radius: 0 !important;
}

.table .btn-group {
  white-space: nowrap;
}
.table .btn-group .btn {
  display: inline-block;
  float: none;
}
.table .btn-group .btn + .btn {
  margin-left: -5px;
}

/* Preferences */

.modal-content,
.panel-group .panel,
.panel-heading {
  border-radius: 0;
}

.modal-content,
.modal-body {
  padding: 5px;
}

.modal-title {
  margin-bottom: 5px;
}

.panel-group {
  margin-bottom: 0;
}

.panel-group .panel-heading {
  padding: 5px;
  border-color: #d5dadd;
  background: #f8f8f8;
}

.panel-heading > a {
  text-decoration: none !important;
  color: #333;
  outline: none !important;
}

.no-btn {
  cursor: default !important;
  opacity: 1 !important;
}

.no-btn-200 {
  min-width: 200px;
}

.pointer {
  cursor: pointer;
}

.table {
  margin-bottom: 0;
}

.table > tbody > tr > td {
  border: 0;
}

.table > tbody > tr:hover {
  background-color: #f5f5f5;
}

.modal-dialog {
  margin: 35px auto;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 40px auto;
  }
}
