*.DS_Store
*.sconsign.dblite
*.out
*.ini
*.asc
*.bin
*.blif
*.log
*.vcd
*.mo

*.swp
*~
app/icerok.capture.raw
.tmp
.vscode
app/docs
app/resources/collection
app/resources/locale/**/*.json
bower_components
cache
dist
docs/_build
node_modules
