<!DOCTYPE html>
<!-- Spinner -->
<div class="spinner-wrapper">
  <div class="spinner-wrapper--bg"></div>
  <div class="spinner-wrapper--container">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</div>
<div>
  <!-- Menu -->
  <div ng-include="'views/menu.html'"></div>

  <!-- Design -->
  <div ng-controller="DesignCtrl">
    <div class="paper"></div>

    <div
      ng-show="!topModule"
      style="position: absolute; bottom: 5px; left: 5px; z-index: 1750;"
      class="dropup"
    >
      <div
        class="btn-group"
        uib-dropdown
        ng-show="graph.breadcrumbs.length > 2"
      >
        <button
          type="button"
          class="btn btn-sm btn-info"
          ng-click="breadcrumbsJump(graph.breadcrumbs[0])"
          ng-disabled="common.isEditingSubmodule"
        >
          <i class="fa fa-fw fa-home"></i>
        </button>
        <button
          id="split-button"
          type="button"
          class="btn btn-sm btn-info"
          ng-click="breadcrumbsBack()"
          ng-disabled="common.isEditingSubmodule"
        >
          <i class="fa fa-fw fa-level-up" aria-hidden="true"></i> {{ 'Up' |
          translate }}
        </button>
        <button type="button" class="btn btn-sm btn-info" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only"
            ><i class="fa fa-fw fa-level-up" aria-hidden="true"></i> {{ 'Up' |
            translate }}</span
          >
        </button>
        <ul
          class="dropdown-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="split-button"
        >
          <li
            role="menuitem"
            ng-repeat="item in graph.breadcrumbs.slice(0, -1)"
            ng-class="common.isEditingSubmodule?'is-disabled':''"
          >
            <a href ng-click="breadcrumbsJump(item)">{{item.name}}</a>
          </li>
        </ul>
      </div>
      <div
        class="btn-group"
        role="group"
        ng-show="graph.breadcrumbs.length <= 2"
      >
        <button
          type="button"
          class="btn btn-sm btn-info"
          ng-click="breadcrumbsBack()"
          ng-disabled="common.isEditingSubmodule"
        >
          <i class="fa fa-fw fa-level-up" aria-hidden="true"></i> {{ 'Up' |
          translate }}
        </button>
      </div>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          style="pointer-events: none;"
        >
          {{ information.version ? 'v' + information.version : 'unversioned' }}
        </button>
      </div>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-sm"
          ng-click="editModeToggle()"
          ng-class="'btn-' + (common.isEditingSubmodule?'warning':'danger')"
        >
          <i
            class="fa fa-fw"
            ng-class="'fa-' + (common.isEditingSubmodule?'unlock':'lock')"
            aria-hidden="true"
          ></i>
          {{ (common.isEditingSubmodule? 'Lock' : 'Read only') | translate }}
        </button>
      </div>
    </div>

    <div class="footer ice-bar" ng-show="common.selectedBoard && topModule">
      <div class="fpga-resources">
        <span
          >LC:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.LC.used+' /
          '+common.FPGAResources.nextpnr.LC.total+'
          ('+common.FPGAResources.nextpnr.LC.percentage+'%)') }}</span
        >
        <span
          >RAM:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.RAM.used+' /
          '+common.FPGAResources.nextpnr.RAM.total+'
          ('+common.FPGAResources.nextpnr.RAM.percentage+'%)') }}</span
        >
        <span
          >IO:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.IO.used+' /
          '+common.FPGAResources.nextpnr.IO.total+'
          ('+common.FPGAResources.nextpnr.IO.percentage+'%)') }}</span
        >
        <span
          >GB:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.GB.used+' /
          '+common.FPGAResources.nextpnr.GB.total+'
          ('+common.FPGAResources.nextpnr.GB.percentage+'%)') }}</span
        >
        <span
          >PLL:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.PLL.used+' /
          '+common.FPGAResources.nextpnr.PLL.total+'
          ('+common.FPGAResources.nextpnr.PLL.percentage+'%)') }}</span
        >
        <span
          >WB:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.WB.used+' /
          '+common.FPGAResources.nextpnr.WB.total+'
          ('+common.FPGAResources.nextpnr.WB.percentage+'%)') }}</span
        >
        <span
          >MaxFreq.:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '-' :
          (common.FPGAResources.nextpnr.MF.value+'MHz') }}</span
        >
      </div>
    </div>
  </div>
</div>
