<!DOCTYPE html>
<!-- Spinner -->
<div class="spinner-wrapper">
  <div class="spinner-wrapper--bg"></div>
  <div class="spinner-wrapper--container">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</div>
<div>
  <!-- Plugins menu -->
  <div class="icm-menu-wrap">
    <nav class="icm-menu">
      <div class="icm-icon-list"></div>
    </nav>
    <button class="icm-close-button" id="icm-close-button">Close Menu</button>
    <div
      class="icm-morph-shape"
      id="icm-morph-shape"
      data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 100 800"
        preserveAspectRatio="none"
      >
        <path
          d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"
        />
      </svg>
    </div>
  </div>
  <button class="icm-menu-button" id="icm-open-button">Open Plugin Menu</button>

  <!-- Menu -->
  <div ng-include="'views/menu.html'"></div>

  <!-- Design -->
  <div ng-controller="DesignCtrl">
    <div class="banner hidden">
      <div class="info">
        &nbsp;{{ information.name }}&nbsp;{{ information.version ? '-&nbsp;v' +
        information.version + '&nbsp;' : '' }}
      </div>
      <div class="read-only">&nbsp;{{ 'Read only' | translate }}&nbsp;</div>
      <a class="back-button" ng-click="breadcrumbsBack()"
        >&nbsp;&lt;&nbsp;{{ 'back' | translate }}&nbsp;</a
      >
    </div>

    <div class="banner-submodule hidden">
      <a class="edit-button" ng-click="editModeToggle($event)"
        ><img
          src="resources/images/lock.png"
          data-lock="resources/images/lock.png"
          data-unlock="resources/images/unlock.png"
      /></a>
    </div>

    <div class="paper"></div>

    <div class="footer ice-bar" ng-show="common.selectedBoard && topModule">
      <div class="fpga-resources">
        <span
          >LC:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.LC.used+' /
          '+common.FPGAResources.nextpnr.LC.total+'
          ('+common.FPGAResources.nextpnr.LC.percentage+'%)') }}</span
        >
        <span
          >RAM:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.RAM.used+' /
          '+common.FPGAResources.nextpnr.RAM.total+'
          ('+common.FPGAResources.nextpnr.RAM.percentage+'%)') }}</span
        >
        <span
          >IO:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.IO.used+' /
          '+common.FPGAResources.nextpnr.IO.total+'
          ('+common.FPGAResources.nextpnr.IO.percentage+'%)') }}</span
        >
        <span
          >GB:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.GB.used+' /
          '+common.FPGAResources.nextpnr.GB.total+'
          ('+common.FPGAResources.nextpnr.GB.percentage+'%)') }}</span
        >
        <span
          >PLL:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.PLL.used+' /
          '+common.FPGAResources.nextpnr.PLL.total+'
          ('+common.FPGAResources.nextpnr.PLL.percentage+'%)') }}</span
        >
        <span
          >WB:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '- / -' :
          (common.FPGAResources.nextpnr.WB.used+' /
          '+common.FPGAResources.nextpnr.WB.total+'
          ('+common.FPGAResources.nextpnr.WB.percentage+'%)') }}</span
        >
        <span
          >MaxFreq.:&nbsp;&nbsp;{{ (common.hasChangesSinceBuild ||
          !common.FPGAResources.nextpnr) ? '-' :
          (common.FPGAResources.nextpnr.MF.value+'MHz') }}</span
        >
      </div>
    </div>
  </div>
</div>
