<!DOCTYPE html>
<div style="display: none;">
  <div id="boardoptshead">
    <i class="fa fa-fw fa-microchip" aria-hidden="true"></i> {{
    common.selectedBoard ? common.selectedBoard.info.label : 'unselected' }}
  </div>
  <div
    id="boardopts"
    style="height: 100%; padding-top: 27px;"
    class="text-center"
  >
    <div style="overflow-y: auto; height: 100%; padding: 10px;">
      <div>
        <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="..."
          style="display: inline-block;"
        >
          <div
            class="btn-group btn-group-xs"
            uib-dropdown
            title="{{ 'Device' | translate }}"
          >
            <button
              type="button"
              class="btn btn-default"
              uib-dropdown-toggle
              title="{{ 'Select another device' | translate }}"
            >
              <span class="caret"></span>
              <span class="sr-only"
                >{{ 'Select another device' | translate }}</span
              >
            </button>
            <button
              type="button"
              class="btn btn-default is-disabled"
              style="width: 55px;"
              title="{{ 'Device'| translate }}"
            >
              <span ng-show="common.selectedDevice"
                >{{ common.selectedDevice }}</span
              >
              <span ng-show="!common.selectedDevice"
                ><i>{{ 'select' | translate }}</i></span
              >
            </button>

            <ul
              class="dropdown-menu"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="single-button"
            >
              <li
                role="menuitem"
                ng-repeat="device in deviceList"
                ng-click="common.selectedDevice = device"
              >
                <a>{{device}}</a>
              </li>
            </ul>
          </div>

          <div
            class="btn-group btn-group-xs"
            uib-dropdown
            title="{{ 'Board' | translate }}"
            ng-class="{'is-disabled': !common.selectedDevice}"
          >
            <button
              type="button"
              class="btn btn-default"
              uib-dropdown-toggle
              title="{{ 'Select another board' | translate }}"
            >
              <span class="caret"></span>
              <span class="sr-only"
                >{{ 'Select another board' | translate }}</span
              >
            </button>
            <button
              type="button"
              class="btn btn-default"
              style="width: 200px;"
              title="{{ 'Board'| translate }}"
              ng-class="svgPinoutAvailable() ? '' : 'is-disabled'"
              ng-click="showSvgPinout()"
            >
              <span
                ng-show="common.selectedDevice === common.selectedBoard.info.device"
                >{{common.selectedBoard.info.label}}</span
              ><span
                ng-show="common.selectedDevice !== common.selectedBoard.info.device"
                ><i>{{ 'select board' | translate }}</i></span
              >
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li
                role="menuitem"
                ng-repeat="board in selectedDeviceBoards()"
                ng-click="selectBoard(board.name)"
              >
                <a
                  >{{board.info.label}}
                  <i
                    class="fa fa-fw fa-check text-success"
                    aria-hidden="true"
                    ng-if="project.isBoardSupported(board.name)"
                  ></i
                ></a>
              </li>
            </ul>
          </div>

          <div
            class="btn-group btn-group-xs"
            role="group"
            aria-label="..."
            ng-class="{'is-disabled': !common.selectedBoard}"
          >
            <button
              type="button"
              class="btn btn-default"
              ng-click="showPCF()"
              title="{{ 'Constraints' | translate }}"
            >
              <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="btn btn-default"
              ng-click="showDatasheet()"
              title="{{ 'Datasheet' | translate }}"
            >
              <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="btn btn-default"
              ng-click="toggleBoardRules()"
              title="{{ 'Toggle board rules' | translate }}"
            >
              <i
                class="fa fa-fw"
                ng-class="'fa-toggle-'+(profile.data.boardRules?'on':'off')"
                aria-hidden="true"
              ></i>
            </button>
            <button
              type="button"
              class="btn btn-default"
              ng-click="showBoardRules()"
              title="{{ 'View board rules' | translate }}"
            >
              <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <table
        class="table table-hover text-left"
        style="width: unset; display: inline-table;"
      >
        <tbody ng-repeat="(dir, arr) in IOList">
          <tr ng-repeat="(key, val) in arr">
            <td>
              {{ key }}
            </td>
            <td>
              <i
                class="fa fa-fw"
                ng-class="'fa-chevron-' + (dir === 'out'?'right':'left')"
                aria-hidden="true"
              ></i>
            </td>
            <td>
              <div class="btn-group btn-group-xs" uib-dropdown>
                <button
                  type="button"
                  class="btn btn-default"
                  uib-dropdown-toggle
                  title="{{ 'Select label assignment' | translate }}"
                >
                  <span class="caret"></span>
                  <span class="sr-only"
                    >{{ 'Select label assignment' | translate }}</span
                  >
                </button>
                <button
                  type="button"
                  class="btn btn-default is-disabled"
                  style="width: 140px;"
                >
                  {{ getResolvedIO(key).type }}
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li
                    role="menuitem"
                    ng-repeat="item in common.selectedBoard.info.pinout"
                    ng-if="dir === item.type.slice(0,-3)"
                    ng-click="setIOResolution(key, {type: item.name, value: item.value})"
                  >
                    <a
                      >{{item.name}}<span class="shortcut"
                        >{{ item.value }}</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </td>
            <td>
              {{ getResolvedIO(key).value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
