<!DOCTYPE html>
<a href uib-dropdown-toggle
  >{{ 'Edit' | translate }} <span class="caret"></span
></a>
<ul uib-dropdown-menu style="min-width: 200px;">
  <li>
    <a href ng-click="undoGraph()"
      ><i class="fa fa-fw fa-undo" aria-hidden="true"></i> {{ 'Undo' | translate
      }}<span class="shortcut">{{ 'undoGraph' | shortcut }}</span></a
    >
  </li>
  <li>
    <a href ng-click="redoGraph()"
      ><i class="fa fa-fw fa-repeat" aria-hidden="true"></i> {{ 'Redo' |
      translate }}<span class="shortcut">{{ 'redoGraph' | shortcut }}</span></a
    >
  </li>

  <li class="divider"></li>

  <li>
    <a href ng-click="cutSelected()"
      ><i class="fa fa-fw fa-cut" aria-hidden="true"></i> {{ 'Cut' | translate
      }}<span class="shortcut">{{ 'cutSelected' | shortcut }}</span></a
    >
  </li>
  <li>
    <a href ng-click="copySelected()"
      ><i class="fa fa-fw fa-copy" aria-hidden="true"></i> {{ 'Copy' | translate
      }}<span class="shortcut">{{ 'copySelected' | shortcut }}</span></a
    >
  </li>
  <li>
    <a href ng-click="pasteSelected()"
      ><i class="fa fa-fw fa-paste" aria-hidden="true"></i> {{ 'Paste' |
      translate }}<span class="shortcut"
        >{{ 'pasteSelected' | shortcut }}</span
      ></a
    >
  </li>
  <li>
    <a href ng-click="pasteAndCloneSelected()"
      ><i class="fa fa-fw fa-clone" aria-hidden="true"></i> {{ 'Clone' |
      translate }}<span class="shortcut"
        >{{ 'pasteAndCloneSelected' | shortcut }}</span
      ></a
    >
  </li>
  <li>
    <a href ng-click="selectAll()"
      ><i class="fa fa-fw fa-hand-grab-o" aria-hidden="true"></i> {{ 'Select
      all' | translate }}<span class="shortcut"
        >{{ 'selectAll' | shortcut }}</span
      ></a
    >
  </li>

  <li class="divider"></li>

  <li>
    <a href ng-click="fitContent()"
      ><i class="fa fa-fw fa-arrows-alt" aria-hidden="true"></i> {{ 'Fit
      content' | translate }}<span class="shortcut"
        >{{ 'fitContent' | shortcut }}</span
      ></a
    >
  </li>

  <li class="divider"></li>

  <li>
    <a href ng-click="setPreferences()"
      ><i class="fa fa-fw fa-gears" aria-hidden="true"></i> {{ 'Preferences' |
      translate }}</a
    >
  </li>

  <li>
    <a href ng-click="setProjectInformation()"
      ><i class="fa fa-fw fa-tag" aria-hidden="true"></i> {{ 'Project
      information' | translate }}</a
    >
  </li>
</ul>
