<a href uib-dropdown-toggle>Basic <span class="caret"></span></a>
<ul uib-dropdown-menu>
  <child
    ng-repeat="item in common.defaultCollection.content.blocks"
    cdata="item"
    callback="project.addBlockFile(path)"
    right="true"
  ></child>
  <li>
    <a href ng-click="project.addBasicBlock('basic.input')"
      ><div class="marker marker-yellow"></div>
      {{ 'Input' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.output')"
      ><div class="marker marker-yellow"></div>
      {{ 'Output' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.outputLabel')"
      ><div class="marker marker-yellow"></div>
      {{ 'Output label' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.inputLabel')"
      ><div class="marker marker-yellow"></div>
      {{ 'Input label' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.constant')"
      ><div class="marker marker-orange"></div>
      {{ 'Constant' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.memory')"
      ><div class="marker marker-orange"></div>
      {{ 'Memory' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.code')"
      ><div class="marker marker-blue"></div>
      {{ 'Code' | translate }}</a
    >
  </li>
  <li>
    <a href ng-click="project.addBasicBlock('basic.info')"
      ><div class="marker marker-gray"></div>
      {{ 'Information' | translate }}</a
    >
  </li>
</ul>
