<!DOCTYPE html>
<div ng-controller="MenuCtrl">
  <div id="menu" ondragstart="return false;" ondrop="return false;">
    <!-- TODO: rework to (re)use 1-2 'input', instead of +10 -->
    <input
      id="input-add-as-block"
      class="hidden"
      type="file"
      accept=".ice,.iceb"
      multiple
    />
    <input
      id="input-add-collection"
      class="hidden"
      type="file"
      accept=".zip"
      multiple
    />
    <input id="input-open-project" class="hidden" type="file" accept=".ice" />
    <input
      id="input-save-snapshot"
      class="hidden"
      type="file"
      accept=".png"
      nwsaveas="{{ (snapshotdir ? snapshotdir : workingdir) + project.name }}.png"
    />
    <input
      id="input-save-project"
      class="hidden"
      type="file"
      accept=".ice"
      nwsaveas="{{ workingdir + project.name }}.ice"
    />
    <input
      id="input-export-verilog"
      class="hidden"
      type="file"
      accept=".v"
      nwsaveas="{{ workingdir + project.name }}.v"
    />
    <input
      id="input-export-pcf"
      class="hidden"
      type="file"
      accept=".pcf"
      nwsaveas="{{ workingdir + project.name }}.pcf"
    />
    <input
      id="input-export-testbench"
      class="hidden"
      type="file"
      accept=".v"
      nwsaveas="{{ workingdir + project.name }}_tb.v"
    />
    <input
      id="input-export-gtkwave"
      class="hidden"
      type="file"
      accept=".gtkw"
      nwsaveas="{{ workingdir + project.name }}_tb.gtkw"
    />
    <input
      id="input-export-blif"
      class="hidden"
      type="file"
      accept=".blif"
      nwsaveas="{{ workingdir + project.name }}.blif"
    />
    <input
      id="input-export-asc"
      class="hidden"
      type="file"
      accept=".asc"
      nwsaveas="{{ workingdir + project.name }}.asc"
    />
    <input
      id="input-export-bin"
      class="hidden"
      type="file"
      accept=".bin"
      nwsaveas="{{ workingdir + project.name }}.bin"
    />

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li ng-include="'views/menu_file.html'" uib-dropdown></li>
          <li ng-include="'views/menu_edit.html'" uib-dropdown></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li
            ng-include="'views/menu_basic.html'"
            uib-dropdown
            ng-show="!common.defaultCollection.disabled"
          ></li>

          <li
            uib-dropdown
            ng-repeat="collection in common.internalCollections.concat(common.externalCollections)"
            ng-show="!collection.disabled"
          >
            <a href uib-dropdown-toggle
              >{{ collection.name }} <span class="caret"></span
            ></a>
            <menutree
              data="collection.content.blocks"
              callback="project.addBlockFile(path)"
              right="true"
            ></menutree>
          </li>

          <li ng-include="'views/menu_board.html'" uib-dropdown></li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left" ng-show="common.topModule">
          <li ng-if="project.changed">
            <a
              uib-tooltip="{{ 'Unsaved changes in the project!' | translate }}"
              tooltip-append-to-body="true"
              tooltip-placement="right"
              style="color: chocolate;"
              ><i class="fa fa-fw fa-warning" aria-hidden="true"></i
            ></a>
          </li>
          <!-- TODO What does project.backup represent/mean?
          <li>
            <a
            ng-if="project.backup"
            style="color:green;"
            ><i class="fa fa-fw fa-check" aria-hidden="true"></i></a>
          </li>
          -->
        </ul>

        <div ng-include="'views/menu_run.html'"></div>
      </div>
    </nav>
  </div>
</div>
