name: 'icestudio'

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 3,6'

env:
  CI: true
  DOCKER_BUILDKIT: 1

jobs:
  linwin:
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        task:
          [
            {os: ubuntu, arg: lin, larg: linux},
            {os: windows, arg: win, larg: win},
          ]
    runs-on: ${{ matrix.task.os }}-latest
    steps:
      - run: git config --global core.autocrlf input
        shell: bash
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '11.x'
      - run: yarn
      - run: yarn run check
      - run: yarn dist -v
        env:
          DIST_TARGET: ${{ matrix.task.arg }}
      - uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.task.arg }}64
          path: dist/*${{ matrix.task.larg }}64.zip
      - uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.task.arg }}32
          path: dist/*${{ matrix.task.larg }}32.zip

  mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '11.x'
      - run: yarn
      - run: yarn run check
      - run: yarn dist -v
        env:
          DIST_TARGET: osx
      - uses: actions/upload-artifact@master
        with:
          name: osx64
          path: dist/*osx64.zip

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - run: pip3 install -r docs/requirements.txt
      - name: Build docs
        run: |
          cd docs
          make html
      - uses: actions/upload-artifact@master
        with:
          name: docs
          path: docs/_build/html
      - name: 'publish site to gh-pages'
        if: github.event_name != 'pull_request' && github.repository == 'juanmard/icestudio'
        run: |
          cd docs/_build/html
          touch .nojekyll
          git init
          git add .
          git config --local user.email "push@gha"
          git config --local user.name "GHA"
          git commit -a -m "update ${{ github.sha }}"
          git remote add origin "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY"
          git push -u origin +HEAD:gh-pages

  nightly:
    needs: [linwin, mac]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
      - name: Append GITHUB_SHA to release assets
        run: |
          for item in lin32/* lin64/* win32/* win64/* osx64/*; do
            mv "$item" "${item%.*}-${GITHUB_SHA}.zip"
          done
      - uses: eine/tip@master
        if: github.ref == 'refs/heads/moon' && github.event_name != 'pull_request'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: 'nightly'
          rm: true
          files: |
            lin32/*
            lin64/*
            win32/*
            win64/*
            osx64/*

#---

# Generated artifacts (depending on the platform) are:
# - dist/*.zip
# - dist/*.AppImage
# - dist/*.exe
# - dist/*.dmg
